@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(220 38 38);
  border-radius: 14px;
}

.p-selectbutton .p-button.p-highlight:hover{
  background-color: rgb(248 113 113 / var(--tw-text-opacity)) !important;
}
.p-button:not(:disabled):active{
  background-color: rgb(248 113 113 / var(--tw-text-opacity)) !important;
}
.p-selectbutton .p-button.p-highlight{
  background-color: rgb(248 113 113 / var(--tw-text-opacity)) !important;
}
.p-button:focus{
  box-shadow: none;
}

.p-checkbox.p-highlight .p-checkbox-box{
  background-color: rgb(248 113 113 / var(--tw-text-opacity)) !important;
}